/* CONSULTORIO HODAR */
.bloque.aplicaciones .wrap {font-family: Arial,Helvetica,sans-serif;margin:0 0 10px;padding-top:10px;}
.bloque.aplicaciones ul {clear:both;}
*html .aplicaciones ul.navegacion li {border-bottom:0px!important;width:auto}
.bloque.aplicaciones ol li div {background: #EAE6E5 none repeat scroll 0 0;padding: 8px 10px 8px 15px;overflow:hidden;position:relative;}
.bloque.aplicaciones ol li div .metadatos {padding:5px 0 0 0;}
.bloque.aplicaciones .noticia a {color:#073B05 !important;}
.bloque.aplicaciones .noticia a:hover {color:#39633B!important;}
.bloque.aplicaciones h6 {margin-top:20px!important;margin-bottom:10px!important;clear:both;}
.bloque.aplicaciones h6:first-child {margin-top:10px;}
.bloque.analisis_hodar .noticia {padding-bottom: 6px !important;}
.bloque.analisis_hodar .noticia h2 {font-family: Georgia, "Times New Roman", Times, serif;font-size:18px;line-height:20px;	text-transform:none;font-weight:normal;}
.bloque.aplicaciones .mensaje {background:#FFF1E0;border:1px solid #ddd;padding:10px;margin:20px 0 20px;}
.bloque.aplicaciones .mensaje.error {color:#EA4646;}
.bloque.aplicaciones .mensaje.error ul {border:0;background:none;margin:0;padding:0;}
.bloque.aplicaciones .mensaje.error ul li {background:transparent url(http://estaticos.expansion.com/pruebas/rd/iconos/v2.x/v2.0/bolo_red.png) no-repeat scroll 0 5px !important;overflow:hidden;
width:100%!important;float:left;display:block}
.bloque.aplicaciones ol {margin-bottom:10px;}
.bloque.aplicaciones ol li {background: transparent none repeat scroll 0 0;border:1px solid #EAE6E5;clear:both;color:#333333;margin-top:10px;padding:0;position:inherit;overflow:hidden;}
.bloque.analisis_hodar ol li .media {background: transparent none repeat scroll 0 0;border:0;padding: 0 0 0 10px;margin-top:10px;
}
.bloque.aplicaciones ol li p {line-height:16px;padding:15px;position:inherit;}
.bloque.aplicaciones ol li p.pregunta,.bloque.aplicaciones ol li p.analisis {font-weight:bold;padding:6px 0px 12px;width:100%;	font-family: Arial, Helvetica, sans-serif;font-style:normal;}
.bloque.aplicaciones ol li p.analisis {padding:2px 0 6px 0 !important;}
.bloque.aplicaciones .pestana_GDP ol li span.fecha,
.bloque.aplicaciones ol li span.valor {font-weight:normal;padding:0px;color:#999;}
.bloque.aplicaciones ol li span.valor {font-weight:bold;font-size:11px;color:#999;}
.bloque.aplicaciones .pestana_GDP ol li span.fecha {position:absolute;right:20px;}
.bloque.aplicaciones ol li span.fecha {font-weight:normal;padding:0px;color:#999;font-size:10px;}
.bloque.aplicaciones ol li p.pregunta span.destacado {color:#3172A8 !important;}
body.invest .bloque.aplicaciones ol li p.pregunta span.destacado {color:#39633b}
.bloque.aplicaciones .cintillo_numero_comentarios {position:absolute;margin-top:16px;font-size:11px;font-weight:normal;padding-bottom:5px;color:#fff;z-index:100;background:#336699;border:1px solid #999999;padding:2px 5px;}
.bloque.aplicaciones .cintillo_numero_comentarios span {font-weight:bold;}
body.invest .bloque.aplicaciones .cintillo_numero_comentarios {background:#073B05}
.bloque.analisis_hodar .cintillo_consultas {font-size:12px;font-weight:bold;padding-bottom:5px;color:#999;}
.bloque.analisis_hodar .cintillo_consultas span {color:#3172A8;font-family:Georgia,"Times New Roman",Times,serif;font-size:22px;
font-weight:bold;}
.bloque.analisis_hodar h6 span {color:#3172A8;font-family:Georgia,"Times New Roman",Times,serif;font-size:20px;font-weight:bold;
}
.bloque.analisis_hodar ol li .numero {color:#3172A8;float:right;font-family:Georgia,"Times New Roman",Times,serif;font-size:20px;
font-weight:bold;padding:0px;position:relative;}
.bloque.aplicaciones #datos_usuario,.bloque.aplicaciones #consultar {background:transparent none repeat scroll 0 0;color:#666666;float:left;margin:10px 0 0 0;overflow:hidden;padding:5px 0;width:315px;}
.bloque.aplicaciones #datos_usuario form {height:1%;margin:0 0 10px;position:relative;}
.bloque.aplicaciones #datos_usuario .cintillo_consultas {color:#3C81A2;font-size:14px;font-weight:bold;margin-bottom:10px;padding:0;}
.bloque.aplicaciones #datos_usuario input {color:#333333;padding:3px;width:290px;}
.bloque.aplicaciones #datos_usuario .cintillo_consultas,.bloque.aplicaciones .formulario,.bloque.aplicaciones #consultar .cintillo_consultas {border-bottom:1px solid #EAE6E5;color:#333333;font-size:14px;font-weight:bold;margin-bottom:10px;padding:10px 0 0;
}
.bloque.analisis_hodar #consultar .cintillo_consultas {border-bottom:medium none;}
.bloque.aplicaciones #datos_usuario label,.bloque.aplicaciones #consultar label {display:block;font-weight:bold;margin-bottom:5px;text-align:left;}
.bloque.aplicaciones #consultar textarea {border:1px solid #CCCACA;color:#333333;font-family:Arial,Helvetica,sans-serif;font-size:12px;height:120px;line-height:18px;margin-bottom:8px;margin-top:-5px;padding:10px;width:292px;}
.bloque.analisis_hodar .buscador_consultas {margin-bottom:10px;}
.bloque.analisis_hodar ul.protagonistas_ayer li {float:left;padding: 0 5px;border-left: 1px solid #EAE6E5;}
.bloque.analisis_hodar ul.protagonistas_ayer li:first-child {border:0;padding-left:0;}
.bloque.aplicaciones .login {border:1px solid #EAE6E5;margin-bottom:20px;margin-top:20px;overflow:hidden;padding:10px;background:#F2EEED;width:630px}
*html .aplicaciones .login {height:1%;}
.bloque.aplicaciones .login .izquierda {width:270px;}
*html .aplicaciones .login .izquierda {width:270px!important;margin:0;padding:0}
.bloque.aplicaciones .login .izquierda.btn {width:75px;clear:none;text-align:left;padding-top:16px;margin:0}
*html .aplicaciones .login .btn {width:75px!important;padding-top:16px}
.bloque.aplicaciones .login label {font-weight: bold;color:#666;}
.bloque.aplicaciones .login .izquierda input {width:250px;}
.bloque.aplicaciones .login .aviso {clear:both;padding-top:5px;border-top: 1px dashed #ddd;margin-top:5px;width:100%;float:left;margin-top:10px;}
.bloque.aplicaciones .login .nuevo_usuario {margin-bottom:10px;}
.bloque.aplicaciones .apendice p {font-size:11px !important;margin-bottom:12px;}
.bloque.aplicaciones .botonera a {margin-left:5px !important;}
.bloque.aplicaciones table thead tr th {background:transparent url(http://estaticos.expansion.com/pruebas/rd/iconos/v2.x/v2.0/fondos/fondo_tabla_par.gif) repeat-x scroll left bottom;}
.bloque.aplicaciones table thead tr th a {color:#999!important;}
.bloque.aplicaciones table tr td a {font-weight:bold;text-transform:uppercase;}
.bloque.aplicaciones table tr td.primera {text-transform:uppercase;color:#222;}
.bloque.aplicaciones table tr th img {margin-top:3px;}
.bloque.aplicaciones .ordenacion {clear:both;}
.bloque.listado_resultados_fondos .col_1 {width:2%;}
.bloque.listado_resultados_fondos .col_2 {width:22%;}
.bloque.listado_resultados_fondos .col_3 {width:6%;}
.bloque.listado_resultados_fondos .col_4, .bloque.listado_resultados_fondos .col_5, .bloque.listado_resultados_fondos .col_6,.bloque.listado_resultados_fondos .col_7  {width:8%;}
.bloque.listado_resultados_fondos .col_8,.bloque.listado_resultados_fondos .col_10,.bloque.listado_resultados_fondos .col_11,.bloque.listado_resultados_fondos .col_12 {width:6%;}
.bloque.listado_resultados_fondos .col_9 {width:14%;}

.bloque.listado_carteras .col_1 { width:25%}
.bloque.listado_carteras .col_2,.bloque.listado_carteras .col_3,.bloque.listado_carteras .col_4,.bloque.listado_carteras .col_5,.bloque.listado_carteras .col_6 { width:15%}

.bloque.listado_recomendaciones .col_1 { width:15%}
.bloque.listado_recomendaciones .col_2 { width:18%}
.bloque.listado_recomendaciones .col_3 { width:7%}
.bloque.listado_recomendaciones .col_4,.bloque.listado_recomendaciones .col_5 { width:14%}
.bloque.listado_recomendaciones .col_6,.bloque.listado_recomendaciones .col_7 { width:8%}
.bloque.listado_recomendaciones .col_8,.bloque.listado_recomendaciones .col_9 { width:9%}

/* NEWSLETTER */
.bloque.newsletter label{ display:inline !important}
.bloque.newsletter .apendice label { color:#666 !important;font-size:11px!important;}
.bloque.newsletter p { margin:12px 0 4px!important}

/* DEBATES */
*html .bloque.debates {width:100%}
.bloque.debates .wrap.destacados ul li {background:#FFF1E0;border:1px solid #ddd;margin:0 0 5px;padding:5px !important;}
.bloque.debates ul {list-style-image:none!important;}
.bloque.debates .descripcion {margin-left:70px;padding-bottom:10px;}
.bloque.debates .wrap.destacados p.cintillo {font-size:20px;line-height:22px;}
.bloque.debates p.cintillo {font-family:Georgia,"Times New Roman",Times,serif;font-size:18px;font-weight:normal;line-height:20px;margin:2px 0 10px;}
.bloque.debates p.cintillo a:hover {color:#222!important;}
.bloque.debates ul li {float:left;border-bottom:1px dotted #DDDDDD;margin:0 0 5px;overflow:hidden;padding:0 0 5px;position:relative;}
*html .debates ul li {width:100%;}
.bloque.debates .apendice label { color:#666!important;font-size:11px!important;display:inline!important;}
.bloque.debates #comentarios_lectores {border:0;padding-top:0!important}
.bloque.debates #comentarios_lectores_login {width:312px;}
.bloque.debates #comentarios_lectores_comentar {width:310px;}
.bloque.debates #comentarios_lectores_comentar textarea {width:275px;}
.bloque.debates #comentarios_lectores .wrap {margin-top:15px;}
.bloque.debates #comentarios_lectores_login .cintillo_comentarios, .bloque.debates #comentarios_lectores_comentar .cintillo_comentarios { font-size:12px;}

.bloque.aplicaciones #paginacion,.bloque.aplicaciones .paginacion {margin-bottom:0px!important;}


/* WARRANTS */
.bloque.aplicaciones .contenedor_estrategia ul {color:#666;margin-bottom:16px;margin-left:12px;}
.bloque.aplicaciones .contenedor_estrategia ul li {padding-left:12px;background:transparent url(http://estaticos.expansion.com/pruebas/rd/iconos/v2.x/v2.0/bolo_green.png) no-repeat scroll 0 5px !important;padding-bottom:4px;}
.bloque.aplicaciones .noticia {padding-bottom:10px;overflow:hidden}
.bloque.aplicaciones .noticia.destacado {padding:5px 10px 15px; border:1px solid #ddd;background:#fff;padding-bottom:10px;}
.bloque.aplicaciones .noticia h1 {font-weight:normal;padding-left:0;background:none; border:0; font-size:20px;line-height:22px;font-family:Georgia, "Times New Roman", Times, serif;}
.bloque.aplicaciones .contenedor_estrategia .noticia {border:0}
.bloque.aplicaciones .contenedor_estrategia .noticia p {margin-bottom:16px;}
.bloque.aplicaciones.estrategias_warrants #paginacion {margin-bottom:10px!important;}
.bloque.aplicaciones .buscador_estrategias {background:#fff;padding:10px;overflow:hidden;border:1px solid #ddd;margin-bottom:10px;}
.bloque.aplicaciones .buscador_estrategias .izquierda {margin-right:10px;clear:none;}
.bloque.aplicaciones .buscador_estrategias .izquierda.btn {margin:18px 0 0 0;}
.bloque.aplicaciones .resultados h1 {font-size:18px;line-height:20px;}
.bloque.aplicaciones .enviar_consulta {background-color:#fff;overflow:hidden;margin-bottom:20px;border:1px solid #ddd; padding:0px 10px}
.bloque.aplicaciones .enviar_consulta .btn {margin-bottom:0;}
.bloque.aplicaciones .patrocinio {position:absolute;height:30px;width:300px;top:10px;right:10px;text-align:right;}


/* REGISTRO */
.bloque.aplicaciones.registro ul {border:1px solid #EAE6E5;margin-bottom:20px;margin-top:10px;overflow:hidden;padding:10px;background:#F2EEED}
.bloque.aplicaciones .registro .simple {width:200px;}
.bloque.aplicaciones.registro label {font-weight: bold;color:#666;}
.bloque.aplicaciones.registro ul li {float:left;overflow:hidden;width:280px;}
.bloque.aplicaciones.registro ul li input[type=text],.bloque.aplicaciones.registro ul li input[type=password] {width:250px;}
.bloque.aplicaciones.registro .datos_adicionales label {display:inline!important;font-weight:normal;margin-right:12px;}
.bloque.aplicaciones.registro .datos_adicionales .cintillo {font-weight:bold;margin-bottom:10px;}
.bloque.aplicaciones.registro .datos_adicionales li {margin-bottom:20px;width:100%!important}
.bloque.aplicaciones.registro p {margin-bottom:16px;}
.bloque.aplicaciones.registro ul li .opciones label {display:inline;clear:none;font-weight:normal}
.bloque.aplicaciones.registro ul.apoyos {background:transparent!important;padding-left:12px;}
.bloque.aplicaciones.registro ul.apoyos li {width:100%;background-position:left 5px!important;color:#666}
.bloque.aplicaciones.registro .agradecimiento {border-bottom:1px dashed #e1e1e1;margin-bottom:30px;}
.registro .wrap.cabecera {width: 900px!important; height:80px;}
.registro .wrap.cabecera #cabecera {bottom:15px;}
.registro .contenido_superior {margin-bottom:20px;}
.registro .contenido.principal {width:900px;}
.registro .pie_de_web #navegacion_inferior ul {margin:0!important;}
.registro .pie_de_web #navegacion_inferior .contenido_corporativo {float:left!important;width:300px!important;}
.registro .pie_de_web #navegacion_inferior .texto_legales {float:right;width:186px;}
.registro .pie_de_web #navegacion_inferior .texto_legales ul li {float:left!important;padding-left:5px;border-left:1px solid #999}
.registro .pie_de_web #navegacion_inferior .texto_legales ul li:first-child {padding-left:0px;padding-right:5px;border:0}
.registro .pie_de_web .wrap ul {width:900px!important;display:block;margin:15px auto 40px;overflow:hidden;}
.registro .pie_de_web .wrap #textos_legales ul li {float:left!important;border-left:1px solid #fff}
.registro .pie_de_web .wrap #textos_legales ul li:first-child {border:0;}
.bloque.aplicaciones.registro .apendice {font-size:11px !important;margin-top:30px;margin-bottom:12px;}

.condiciones {background:#FFFFFF none repeat scroll 0 0;border:1px solid #CCCCCC;color:#666666;float:left;height:160px;line-height:20px;margin-right:20px;overflow:scroll;padding:10px;width:500px;}

.bloque.aplicaciones table tbody tr th {font-weight:bold!important;color:#333!important;}
.registro .wrap.interior {padding: 15px !important;}

/* =PAGINACIÓN ====================================== */
.bloque.aplicaciones .anteriores{background:transparent none repeat scroll 0 0;clear:both;margin:10px 0;overflow:hidden;padding:5px 0;float:left;}
.bloque.aplicaciones .anteriores li{float:left;margin-right:3px;margin-bottom:3px;border:0;font-style:normal;}
.bloque.aplicaciones .anteriores li a{cursor:pointer;background-color:#FFFFFF;border:1px solid #DDDDDD;color:#666666;display:block;float:left;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:400;padding:2px 5px;font-style:normal!important;}
.bloque.aplicaciones .anteriores .active{background-color:#336699;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight: bold;margin-right:4px;padding:2px 7px;border:1px solid #999}
.bloque.aplicaciones .anteriores a:link,.bloque.aplicaciones .anteriores a:visited{color:#666;padding:2px 7px;text-decoration:none;}
.bloque.aplicaciones .anteriores li a:hover{border:solid 1px #999!important;}

/* ENVIAR NOTICIA */
.envia_noticia span {font-weight:normal;text-transform:none;display:block;clear:both;padding-top:10px;font-family:Georgia, 'Times New Roman', Times, serif, Palatino;font-size:20px;line-height:22px;color:#336699}
.envia_noticia span span {padding-top:0;display:block;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333;text-transform:none}