

/* Portadillas Multimedia */
.bloque.multimedia {
	border:1px solid #BBB;border-top:3px solid #336699;margin-bottom:10px;overflow:hidden;padding-bottom:0;position:relative;
}
.bloque.videos .video_destacado,
.bloque.videos .video_ampliado,
.bloque.fotos .album_destacado,
.bloque.graficos .grafico_destacado,
.bloque.multimedia .destacado {
	margin:5px 10px 26px 10px;
}
.bloque.videos .video_destacado,
.bloque.fotos .album_destacado,
.bloque.graficos .grafico_destacado,
.bloque.multimedia .destacado,
.bloque.multimedia .video_destacado {
	position:relative;
}
.bloque.multimedia .destacado,
.bloque.multimedia .video_destacado {
	margin:0 0 6px;
}
.bloque.videos .video_destacado .media,
.bloque.fotos .album_destacado .media,
.bloque.graficos .grafico_destacado .media {
	margin-right:15px;
	background-color:#000000; 
}
.bloque.multimedia .video_destacado {
	width:340px;
	margin-right:10px;
	overflow:hidden;
}
.bloque.multimedia .video_destacado .media, .bloque.multimedia .destacado .media {
	border:medium none;
	float:left;
	margin-bottom:6px;
	overflow:hidden;
	padding:0;
}
.bloque.multimedia .destacado {
	width:280px;
	margin-right:10px;
	overflow:hidden;
}
.bloque.multimedia .destacado .media {
	width:278px;
}
.bloque.multimedia .media {
	clear:both;
	float:left;
	margin-bottom:6px;
	overflow:hidden;
	padding:0;
}
body#multimedia .multimedia h5 {
	margin:0;
	border:0;
}

.portadilla.multimedia_fotos .bloque.multimedia.album .media {
	width:652px !important;
}

.bloque.fotos .album_destacado .media,
.bloque.graficos .grafico_destacado .media,
.bloque.videos .video_destacado .media { 
	width:352px; 
	height:243px; 
}
.bloque.videos .video_ampliado .media { 
	width:653px; 
	height:394px; 
	background-color:#000000; 
	margin-right:10px;
}
.bloque.videos .noticia,
.bloque.fotos .noticia,
.bloque.graficos .noticia,
.bloque.multimedia .noticia {
	border:0;
}
.bloque.multimedia ul.videos .noticia,
.bloque.multimedia ul.fotos .noticia,
.bloque.multimedia ul.graficos .noticia {
	margin-bottom:0px;
}
.bloque.multimedia .noticia {
	margin-bottom:10px;
}
.bloque.videos .noticia h2,
.bloque.fotos .noticia h2,
.bloque.graficos .noticia h2,
.bloque.multimedia .noticia h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-transform:none;
	margin-bottom:15px;
	font-weight:normal;
	padding:0;
}
.bloque.multimedia .video_destacado .noticia h2,
.bloque.multimedia .destacado .noticia h2 {
	font-size: 22px;
	line-height:24px;
	color:#000000 !important;
	margin:0 0 12px;
	padding:0;
}

.bloque.multimedia .video_destacado .noticia h2 a, .bloque.multimedia .destacado .noticia h2 a,.bloque.multimedia .noticia h3 a, .bloque.videos .video_destacado .noticia h2 a, .bloque.videos .destacado .noticia h2 a, .bloque.videos .noticia h3 a {
	color:#222 !important;
}

.bloque.multimedia .video_destacado .noticia h2 a:hover, .bloque.multimedia .destacado .noticia h2 a:hover, .bloque.multimedia .noticia h3 a:hover, .bloque.videos .video_destacado .noticia h2 a:hover, .bloque.videos .destacado .noticia h2 a:hover, .bloque.videos .noticia h3 a:hover {
	color:#12668C !important;
}

.bloque.multimedia .metadatos {
	color:#E5AC89;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:11px;
	line-height:14px;
	margin:0;
}

.bloque.multimedia .metadatos span,.bloque.multimedia .metadatos span a {
	font-family:Arial,Helvetica,sans-serif;
	border-left:1px dotted #CCCCCC;
	color:#AAAAAA;
	margin-right:3px;
	padding-left:6px;
}

.bloque.multimedia .metadatos span:first-child {
	border:0 none;
	padding-left:0;
}

.bloque.multimedia .metadatos span.fecha_publicacion {
	font-size:10px;
	line-height:12px;
	margin:0 4px 0 0;
	padding:0;
}

.bloque.multimedia .metadatos span.localizacion {
	font-size:11px;
	text-transform:uppercase;
}

.bloque.multimedia .metadatos span.autor {
	font-style:italic !important;
	font-weight:bold;
}


.bloque.videos .noticia h2,
.bloque.fotos .noticia h2,
.bloque.graficos .noticia h2 {
	font-size: 26px;
	line-height:28px;
}
.bloque.multimedia .noticia h2 {
	font-size: 26px;
	line-height:28px;
}
.bloque.videos .noticia h3,
.bloque.fotos .noticia h3,
.bloque.graficos .noticia h3,
.bloque.multimedia .noticia h3 {
	margin: 0 0 6px 0;
	font-size: 18px; line-height: 20px;
}
.bloque.videos .noticia h4,
.bloque.fotos .noticia h4,
.bloque.graficos .noticia h4,
.bloque.multimedia .noticia h4 ,
.bloque.videos .noticia h4 a,
.bloque.fotos .noticia h4 a,
.bloque.graficos .noticia h4 a,
.bloque.multimedia .noticia h4 a {
	margin: 0 0 6px 0;
	padding: 0;
	font-size: 15px; line-height: 17px; color: #333;
}
.bloque.videos ul.videos,
.bloque.fotos ul.albumes,
.bloque.graficos ul.graficos {
	margin: 0 10px;
	/*border:1px solid #e3e3e3;*/
}
.bloque.videos ul.videos li,
.bloque.fotos ul.albumes li,
.bloque.graficos ul.graficos li,
.bloque.multimedia ul li {
	overflow:hidden;
	border-top:1px dotted #dddddd;
	padding-top:5px;
	position:relative;
}
.bloque.videos ul.videos li:first-child,
.bloque.fotos ul.albumes li:first-child,
.bloque.graficos ul.graficos li:first-child {
	border:0;
	padding-top:0px !important;
}
.bloque.videos ul.videos .media,
.bloque.fotos ul.albumes .media,
.bloque.graficos ul.graficos .media,
.bloque.multimedia ul .media {
	margin-right:10px;
	margin-bottom:5px;
}
.bloque.videos ul.navegacion,
.bloque.fotos ul.navegacion,
.bloque.graficos ul.navegacion {
	clear:both;
}
.bloque.videos .botonera,
.bloque.fotos .botonera,
.bloque.graficos .botonera,
.bloque.multimedia .botonera {
	clear:none;
	margin:0;
	overflow:hidden;
	padding:0;
	text-align:right;
	position:absolute;
	bottom:0;
}
.bloque.videos .botonera,
.bloque.fotos .botonera,
.bloque.graficos .botonera,
.bloque.multimedia .botonera {
	width:100%;
}
.bloque.videos .botonera a:first-child,
.bloque.fotos .botonera a:first-child,
.bloque.graficos .botonera a:first-child {
	float:right;
	margin-right:0px;
}
.bloque.multimedia .botonera a:first-child {
	float:right;
	margin-right:0px;
}	
.bloque.videos .botonera a,
.bloque.fotos .botonera a,
.bloque.graficos .botonera a,
.bloque.multimedia .botonera a {
	background:none;
	float:left;
}
.bloque.videos .iconoplay,
.bloque.multimedia ul.videos.izquierda .iconoplay,
.bloque.multimedia .iconoplay_video_ampliado {
	margin:0 0 0 62px;
	position:absolute;
	top:76px;
}
.bloque.videos ul.videos.derecha .iconoplay {
	margin-left: 43px;
	top:48px;
}
.bloque.videos ul.videos.izquierda .iconoplay {
	top:68px;
}
.bloque.videos ul.videos.izquierda li:first-child .iconoplay {
	top:63px;
}
.bloque.videos ul.videos.derecha li:first-child .iconoplay {
	top:43px;
}
.bloque.videos .video_destacado .iconoplay {
	margin:0 0 0 150px;
	top:84px;
}
.bloque.multimedia ul.videos .iconoplay {
	margin: 0 0 0 62px;
	top:68px;	
}
.bloque.multimedia .iconoplay {
	margin:0 0 0 144px;
	top:96px;
}
.bloque.multimedia .iconoplay_video_ampliado {
	margin:0 0 0 298px;
	top:250px;
}
.bloque.multimedia .albumes,
.bloque.multimedia .videos,
.bloque.multimedia .graficos {
	clear:both;
}
.bloque.multimedia .albumes:first-child,
.bloque.multimedia .videos:first-child,
.bloque.multimedia .graficos:first-child {
	margin-left:0px !important;
	margin-bottom:10px;
}
.bloque.multimedia .doble {
	width:320px;
}
.bloque.videos ul.videos.derecha,
.bloque.fotos ul.albumes.derecha,
.bloque.graficos ul.graficos.derecha {
	width:285px;
}
.bloque.videos ul.videos.izquierda,
.bloque.fotos ul.albumes.izquierda,
.bloque.graficos ul.graficos.izquierda {
	width:345px !important;
}
.bloque.multimedia .ver_todos {
	margin:20px 0 10px 0;
}
.bloque.multimedia ul.miniaturas li {
	float:left;
	border:0;
	margin-right:2px;
	margin-bottom:1px;
	padding:0;
	border:1px solid #ddd;
	width:61px;
	height:41px;	
}
.bloque.multimedia ul.miniaturas li.marcado {
	
}
.bloque.multimedia.video .botonera,
.bloque.multimedia.album .botonera,
.bloque.multimedia.grafico .botonera {
	width:650px;
}
.bloque.multimedia ul.navegacion_anterior_siguiente,
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente {
	border:0 none;
	position:absolute;
	padding:1px 1px 1px 0;
}
.bloque.multimedia ul.navegacion_anterior_siguiente {
	right:15px;
	top:5px;
	z-index:9999!important;
	.float:left;
}
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente {
	right:15px;
	top:10px;
	display:none;
}
.bloque.multimedia ul.navegacion_anterior_siguiente li,
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente li {
	border:0 none;
	margin:2px 2px 0 0;
	padding:0;
	width:19px;
	height:26px;
	float:left;
}
.bloque.multimedia ul.navegacion_anterior_siguiente li a {
	text-indent:-9999px;
	height:19px;
	width:19px;
}
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente li a {
	padding: 2px 0;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.bloque.multimedia ul.navegacion_anterior_siguiente li.siguiente a {
	background:transparent url(http://estaticos.expansion.com/iconos/v2.x/v2.0/botones/boton_flecha_siguiente.png) no-repeat left bottom;
}
.bloque.multimedia ul.navegacion_anterior_siguiente li.anterior a {
	background:transparent url(http://estaticos.expansion.com/iconos/v2.x/v2.0/botones/boton_flecha_anterior.png) no-repeat left bottom;
}
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente li.album_siguiente a {
	background:transparent url(http://estaticos.expansion.com/iconos/v2.x/v2.0/botones/boton_flecha_album_siguiente.png) no-repeat left bottom;
}
.bloque.multimedia ul.navegacion_albumes_anterior_siguiente li.album_anterior a {
	background:transparent url(http://estaticos.expansion.com/iconos/v2.x/v2.0/botones/boton_flecha_album_anterior.png) no-repeat left bottom;
}
.bloque.multimedia.portadilla h1, .contenido_primario .bloque.multimedia.portadilla h1 {
	background:transparent url(http://estaticos.expansion.com/iconos/v2.x/v2.0/fondos/fondo_tabla_par.gif) repeat-x scroll left bottom;
	border-bottom:1px solid #E3E3E3;
	color:#336699;
	font-family:Arial !important;
	font-size:18px !important;
	font-weight:bold !important;
	line-height:20px !important;
	margin:0 0 5px;
	padding:4px 0 5px 10px;
}

.contenido_principal .bloque.videos h1  {
	color:#336699 !important;
}

.bloque.multimedia.portadilla .wrap {
	overflow:hidden !important;
	padding:10px !important;
	position:relative;
}

.columna_uno .slide.horizontal ul.noticias li,
.columna_uno .slide.horizontal ul.noticias li .titular {
	width:110px !important;
}
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li,
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li .titular {
	width:125px !important;
}
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li .media img {
	width:125px !important;
}
.columna_dos .slide.horizontal ul.noticias li,
.columna_dos .slide.horizontal ul.noticias li .titular,
.columna_tres .slide.horizontal ul.noticias li,
.columna_tres .slide.horizontal ul.noticias li .titular {
	width:137px !important;
}
.columna_dos .slide.horizontal ul.noticas li .media img,
.columna_tres .slide.horizontal ul.noticias li .media img {
	width:137px !important;
}
.columna_uno .slide.horizontal ul.noticias li .media,
.columna_dos .slide.horizontal ul.noticias li .media,
.columna_tres .slide.horizontal ul.noticias li .media,
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li .media,
.columna_uno .slide.horizontal ul.noticias li .media img,
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li .media img,
.columna_dos .slide.horizontal ul.noticias li .media img,
.columna_tres .slide.horizontal ul.noticias li .media img {
	height: 106px;
}
.columna_uno_ancho_cuerpo .slide.horizontal ul.noticias li .iconoplay {
	margin-left:97px;
	top:80px;
	width:26px !important;
	height:26px !important;
}